<form action="/edit_post">
<lable>Title</lable>
<br>
<textarea name="title_name" rows="1"><%=@edit_title%></textarea>
<br>
<lable>Body</lable>
<br>
<textarea name="body_name" rows="5"><%=@edit_text%></textarea>
<br>
<input type="submit" value="Edit" />
</form>