<h1>Hello</h1>
<a href="/posts">All posts</a>
<p></p>
<br>
<lable>Creat new user</lable>
<form action="/" method="post">
      <input type="text" name="user_name" />
      <input type="submit" value="Add User" />
</form>
<h3>Users</h3>
<%@@users.each do |user_name|%>
<p><a href="/user/<%=user_name%>"><%=user_name%></p>
<%end%>
