<form method="post" action="/users/new">
  <label for="name"><strong>User Name:</strong></label>
  <input id="name" type="text" name="name" value="" style="width: 250px;"><br><br>

  <label for="age"><strong>User Age:</strong></label>
  <input id="age" type="text" name="age" value="" style="width: 250px;"><br><br>

  <label for="email"><strong>Email:</strong></label>
  <input id="email" type="text" name="email" value="" style="width: 250px;"><br><br>

  <input type="submit" name="submit" value="Add user">
</form>