<h3>Edit</h3>
<a href="/users/<%= @user.id %>/delete/" type="submit">delete this user</a><br>

<form action="/users/<%= @user.id %>/edit" method="post">
  <input name="_method" type="hidden" value="put" />

  <label for="name"><strong>User Name:</strong></label>
  <input id="name" type="text" name="name" value="" style="width: 250px;"><br><br>

  <label for="age"><strong>User Age:</strong></label>
  <input id="age" type="text" name="age" value="" style="width: 250px;"><br><br>

  <label for="email"><strong>Email:</strong></label>
  <input id="email" type="text" name="email" value="" style="width: 250px;"><br><br>

  <input type="submit" name="submit" value="Edit user">
</form>