<h2 style="text-align: center;">Posts:</h2>
<ul>
  <% @posts.each do |post| %>
      <article>
        <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
        <p class="seperate noblack"><%= post.body %></p>
      </article>
      <hr>
  <% end %>
</ul>

<h4><a href="/users">Back</a></h4>
