<% if logged_in? && @post.user_id == current_user.id %>

  <h1>Editing Post</h1>

  <%= render 'form', post: @post %>

  <%= link_to 'Show post', @post %>
  <br />
  <%= link_to 'Start page', root_path %>

<% else %>

  <h1>404. Sorry, page not found.</h1>

<% end %>
