<table  width="100%">
  <tbody>
<td></td>

<td></td>
  </tbody>
</table>



<table style="height: 73px; margin-left: auto; margin-right: auto;" width="106">
  <tbody>
  <tr>
    <td><%= link_to 'Sing in', users_login_path%></td>
  </tr>
  <tr>
    <td><%= link_to 'Sing up', users_new_path%></td>
  </tr>
  </tbody>
</table>