<h3>All Users</h3>
<hr />
<ul>
  <% @users.each do |user| %>
    <h7>Name at:</h7>
    <li>
      <a href="/<%= user.id %>"><%= user.name %></a>
    </li>
      <% end %>
</ul>
<a href="/add_user">Add user</a>
<hr />
<a href="/">Back</a>
