<h3>Add Post</h3>
<form action="/<%= @user_id %>/submit_post" method="POST">
  <textarea name="post[body]" placeholder="Type text here." ></textarea>
  <br />
  <input type="submit" value="Submit" />
</form>
<a href="/">Back to Home</a>
