<h3>Add New User</h3>
<form action="/submit_user" method="POST">
  <input type="text" name="user[name]" value="User Name" />
  <input type="submit" value="Submit" />
</form>
<a href="/">Back to Home</a>
