<h2>Привіт! Тут ти зможеш написати і відредагувати нотатки.</h2>
<h3>Для того, щоб зареєструватися і додати нову чи відредагувати існуючу нотатку,</h3>
<h3>обирай кнопку "КОРИСТУВАЧІ", для перегляду всіх нотаток - "НОТАТКИ":</h3>
<br/>
<hr/>
<hr/>
<form action="/users" method="get">
  <input type="submit" value="КОРИСТУВАЧІ"/>
</form>
<form action="/posts" method="get">
  <input type="submit" value="НОТАТКИ"/>
</form>