<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>New Posts</title>
</head>
<body>
<div class="container">
<h1>Create Post</h1>

<form action="create" method="post">
  <div class="col-xs-2">
  <p>Title:</p>
  <input id="post_title" name="post[title]" type="text" class="form-control" placeholder="col-xs-2" value="<%= @post.title %>" /> </br>
  </div>
  <div class="col-xs-4">
  <p>Body</p>
  <textarea class="form-control" id="post_body" name="post[body]" cols="50" rows="10"><%= @post.body %></textarea> </br>
  <input class="btn btn-default" type="submit" value="Create" />
  </div>
</form>
</div>
</body>
</html>