<h2>Last post</h2>
<br>
<table>
   <tr>
   <th style ="text-align: left">
   </th>
   </tr>
   <tr>
   <td><%=@post.title%></td>
   </tr>
<td style="border: 1px solid black"><%=@post.body%></td>
   </tr>
</table>
<br>
<a href="/index">Home</a>
<a href="/user/new">Create user</a>
<a href="/users">All users</a>
<a href="/posts">All posts</a>
