<h3>All posts</h3>
<p></p>
<% @all_posts.each do |post| %>
<table>
   <tr>
   <th style ="text-align: left">
   <%=@all_users.where(id: post.user_id).first.name%>
   </th>
   </tr>
   <tr>
   <td><%=post.title%></td>
   </tr>
   <tr>
   <td style="border: 1px solid black"><%=post.body%></td>
   </tr>
</table>
<hr>
<%end%>
<a href="/">Home</a>
