<h2>Please sign in</h2>
<form action="/create_user" method="post">
      <lable for="user_name">Enter your name</lable>
      <input type="text" name="user_name" />
      <input type="submit" value="Add User" />
</form>
<a href="/all_users">All users</a>
<a href="/posts">All posts</a>
<a href="/last_post">Last post</a>
<a href="/"><h2>Home</h2></a>
