<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Users</title>
</head>
<body>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-striped">
      <tr>
        <td><h1>All Users</h1></td>
      </tr>
        <% @users.each do |user| %>
          <tr>
            <td><a href="/user/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <form action="/users/new">
      <button type="submit" class="btn btn-default btn-info">Add user </button>
    </form>
    <br>
    <form action="/posts">
      <button type="submit" class="btn btn-default btn-success">All Posts</button>
    </form>
  </div>
</div>
</body>
</html>


