<form action="/users/<%=@user.id%>/posts/new" method="post">
<label>Title</label>
<br>
<textarea name="title_name" rows="1"></textarea>
<br>
<label>Body</label>
<br>
<textarea name="body_text" rows="5"></textarea>
<br>
<input type="submit" value="Create post">
</form>