<h2>Please sign in</h2>
<form action="/user/new" method="post">
      <lable for="username"><h3>Enter your name</h3></lable>
      <input name="username"  type="text"  />
      <br>
      <input type="submit" value="Add User" />
</form>
<a href="/index">Home</a>
<a href="/users">All users</a>
<a href="/posts">All posts</a>
<a href="/post/last">Last post</a>
