<h1>Editing post</h1>

<%= render 'form' %>

<span aria-hidden="true">&larr;</span><%= link_to 'Back', posts_path, :class => 'btn btn-default btn-sm' %>
<%= link_to 'Show', @post, :class => 'btn btn-default btn-sm' %>